<%- include("partials/header.ejs") %>
<title><%= t('home.title') %> | Littérama</title>

<div class="content">
    <div class="hero-section">
        <video src="/videos/hero_video.mp4" loop="true" autoplay></video>
        <div class="textbox">
            <div class="textbox-inner px-4 py-5 my-5 text-center">
                <h1 class="hero-title"><%= t('home.hero') %></h1>
                <p style="margin-top: 15px;"><%= t('home.subtitle') %></p>
            </div>
        </div>
        

    </div>
    <div class="second-section">
        <div class="textbox-inner text-center">
           <h2 style="font-weight: bold; margin-bottom: 30px; font-size: 2.6rem;"><%= t("home.second-title") %></h2>
           <p style="font-size: large; font-weight: 300;"><%= t("home.second-paragraph") %></p>
           <a class="btn btn-outline-dark" href="/a-propos-de-litterama" role="button"><%= t("home.second-button") %></a> 
        </div>
    </div>
    <div class="third-section" style="background-color: #1B698C;">
        <div class="textbox-inner text-center">
            <p style="font-style: italic; font-weight: 300;">« Alors que le numérique ouvre les frontières, l'enjeu majeur pour l'industrie du livre est celui de la découvrabilité, soit le fait d'être visible, distinctif et reconnu sur internet. »</p>
            <br>
            <p style="font-style: italic; font-weight: 300;">- Association nationale des éditeurs de livres (ANEL)</p> 
        </div>
    </div>

</div>



<%- include("partials/footer.ejs") %>