<%- include("partials/header.ejs") %>
<title><%= t('home.title') %> | Littérama</title>

<div class="content">
    <div class="hero-section">
        <video src="/videos/hero_video.mp4" loop="true" autoplay></video>
        <div class="textbox">
            <div class="textbox-inner px-4 py-5 my-5 text-center display-15">
                <h1 class="hero-title"><%= t('home.header') %></h1>
                <p style="font-size: 1.3rem;"><%= t('home.subtitle') %></p>
            </div>
        </div>
        

    </div>
    <div class="second-section">
        <h2></h2>
        <br>
        <p style="font-style: italic;">« Alors que le numérique ouvre les frontières, l'enjeu majeur pour l'industrie du livre est celui de la découvrabilité, soit le fait d'être visible, distinctif et reconnu sur internet. »</p>
        <br>
        <p style="font-style: italic;">- Association nationale des éditeurs de livres (ANEL)</p>
    </div>

</div>



<%- include("partials/footer.ejs") %>